#bed{
    padding-top: 40px; /* Relleno superior igual a la altura de la cabecera*/
    margin: auto 20px;
}
header{
    width: 100%;
    height: 50px;
    background: black;
}
#main-header{
    
}
#foot{
    position: fixed;
}
ul.menu li {
    position: relative;
    float: right;
    display: block;
    height: 10px;
}
ul.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 36px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
ul.menu li:hover > a { color: #caad16; }
ul.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: rgba(245,70,26,0.904);
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
ul.menu li:hover > ul { opacity: 1; }
 
ul.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
ul.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
ul.menu ul li a {
    width: 130px;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    border-bottom: 0px solid #353539;
}

.hola{
    text-align: left;
    float: left;
}
.salir{
    text-align:right;
    float: right;
}
.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
.hola{
    color: white;    
}